[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

# Core
Flask = "~=0.11.1"
webargs = "~=1.5.1"

# Models
MongoEngine = "~=0.10.7"
Flask-MongoEngine = "~=0.8.1"

# Views
Flask-API = "~=0.6.9"
Flask-Bootstrap = "~=3.3.7.0"
Flask-Menu = "~=0.5.1"

# Services
SendGrid = "~=3.6.3"
Flask-SendGrid = "~=0.5.2"

# Deployment
Flask-Script = "~=2.0.5"
gunicorn = "~=19.6.0"


[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
pytest = "*"
pytest-describe = "*"
pytest-expecter = "*"
pytest-cov = "*"
pytest-random = "*"

# Coverage
coverage = "*"
"coverage.space" = "*"

# Tooling
sniffer = ">=0.3.6"
honcho = "*"
