/* Bootstrap */

.alert {
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav {
    margin:0;
}
.navbar-nav > li {
    float:none;
    display:inline-block;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li.open > ul.dropdown-menu {
    position: absolute;
    border: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.container {
    margin-bottom: 15px;
}

.btn{
    min-width: 100px;
}

/* Custom */

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

ul.item-score-list {
    padding: 0px;
}
ul.item-score-list > li {
    display: block;
    height: 3em;
}
ul.item-score-list > li > div.item {
    float: left;
}
ul.item-score-list > li > div.score {
    float: right;
}

.vote {
    padding: 16em 0;
}

.reload {
    padding: 2em 0;
}
