/* Bootstrap */

.alert {
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.container {
    margin-bottom: 15px;
}

.btn{
    min-width: 100px;
}

/* Custom */

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}
