{% extends "layout.html" %}

{% block title %}{{ super() }} | Collections{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h1>Popular Collections</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    <a href="/{{ sample_code }}" class="list-group-item">
                        {{ sample_name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    {% for collection in collections %}
                    <a href="/{{ collection['code'] }}" class="list-group-item">
                        {{ collection['name'] }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
