{% extends "layout.html" %}

{% block title %}{{ super() }} | Collections{% endblock %}

{% block metas %}

    <!-- Metadata -->
    <meta name="description" content="Crowdsourced list sorting.">
    <meta name="twitter:description" content="Crowdsourced list sorting.">
    <meta property="og:description" content="Crowdsourced list sorting.">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h2 class="title">Popular Collections</h2>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    {% for collection in collections %}
                    <a href="/{{ collection['code'] }}" class="list-group-item">
                        <div class="left">
                            {{ collection['name'] }}
                        </div>
                        <div class="right">
                            {{ collection['vote_count'] }} Votes
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form method="post" class="input-group input-group-lg">
                    <input type="text" class="form-control input-lg" name="name" placeholder="New Collection Name">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" title="Create a new collection">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <br>

    {% include "footer.html" %}
{% endblock %}
