{% extends "layout.html" %}

{% block title %}{{ super() }} | Collections{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h2>Popular Collections</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    <a href="/{{ sample_code }}" class="list-group-item">
                        {{ sample_name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    {% for collection in collections %}
                    <a href="/{{ collection['code'] }}" class="list-group-item">
                        {{ collection['name'] }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form method="post" class="input-group input-group-lg">
                    <input type="text" class="form-control input-lg" name="name" placeholder="New Collection Name">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success" title="Create a new collection">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
