{% extends "layout.html" %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h1>Crowd Sorter</h1>
        <p>Crowdsourced list sorting.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 center">
                <a class="btn btn-primary" href="/collections/" role="button">
                    View Popular Collections
                </a>
            </div>
        </div>
    </div>
{% endblock %}
