{% extends "layout.html" %}

{% block metas %}

    <!-- Metadata -->
    <meta name="description" content="Crowdsourced list sorting.">
    <meta name="twitter:title" content="Crowd Sorter">
    <meta name="twitter:description" content="Crowdsourced list sorting.">
    <meta property="og:title" content="Crowd Sorter">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:description" content="Crowdsourced list sorting.">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h1>Crowd Sorter</h1>
        <p><i>Crowdsource your decision making.</i></p>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                {% include "_flashes.html" %}
            </div>
        </div>

        <div class="col-sm-offset-1 col-sm-10">

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 top-buffer">
                    <p class="text-justify">
                        Crowd Sorter is a ranking site to sort arbitrary collections of items.
                        The audience of your choosing is shown pairs of your items to vote on.
                        Based on voting results, we compute a score for each item and sort your collection.
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Collections</h3>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <p class="text-justify bottom-buffer">
                        A collection is a list of related items that can be voted on to determine the overall ranking.
                        Examples include artists, shows, restaurants, and breweries.
                        Here are some of our most popular collections.
                    </p>
                </div>
                <div class="col-md-push-1 col-md-6 col-lg-7 col-xl-8">
                    <div class="list-group">
                        {% for collection in collections %}
                        <a href="/{{ collection['code'] }}" class="list-group-item">
                            <div class="left">
                                {{ collection['name'] }}
                            </div>
                            <div class="right">
                                {{ collection['vote_count'] }} Votes
                            </div>
                        </a>
                        {% endfor %}
                        <a class="list-group-item" href="/collections/" role="button">
                            See More...
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Voting</h3>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-8">
                    <img class="bottom-buffer" src="{{ url_for('static', filename='images/voting.png') }}" alt="Voting" width="100%">
                </div>
                <div class="col-md-push-1 col-md-5 col-lg-4 col-xl-3">
                    <p class="text-justify">
                        Share the link to your collection with whomever you want (or keep it private).
                        Anyone voting on your collection with be shown a pair of items.
                        After selecting a winner or passing, a new pair of items will appear.
                    </p>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Scoring</h3>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6">
                    <p class="text-justify bottom-buffer">
                        The winner of each pair gets a point and its opponent loses a point.
                        Items also gain partial points for inferred wins and losses.
                        The maximum possible score is the number of items in the collection.
                    </p>
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 col-md-push-1 col-md-5">
                    <img src="{{ url_for('static', filename='images/scoring.png') }}" alt="Scoring" width="100%">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 top-buffer bottom-buffer">
                    <p class="text-justify">
                        Think you got it? Create your own collection now in less than a minute. Share it with your friends or let the crowds decide!
                    </p>
                </div>
                <div class="col-sm-offset-1 col-sm-10  col-md-offset-2 col-md-8 text-center top-buffer">
                    <form method="post" action="/collections/" class="input-group input-group-lg">
                        <input type="text" class="form-control input-lg" name="name" placeholder="e.g. {{ [
                            'Favorite Bars',
                            'Cutest Dogs',
                            'Best Concert',
                            'Election Candidates',
                            'Animated Movies',
                            'Coffee Shops',
                            ]|random }}">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary" title="Create your collection">
                                <span class="glyphicon glyphicon-check"></span>
                                <span class="hide-on-mobile">&nbsp; Create Collection</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    {% include "_footer.html" %}
{% endblock %}
