{% extends "layout.html" %}

{% block title %}{{ super() }} | {{ collection['name'] }}{% endblock %}

{% block metas %}

    <!-- Metadata -->
    <meta name="description" content="Cast your votes on the {{ collection['name'] }} collection.">
    <meta name="twitter:description" content="Cast your votes on the {{ collection['name'] }} collection.">
    <meta property="og:url" content="{{ url_for('collections.detail', code=collection['code'], _external=True) }}">
    <meta property="og:description" content="Cast your votes on the {{ collection['name'] }} collection.">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h2 class="title">{{ collection['name'] }}</h2>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <ul class="list-group">
                    <div class="list-group-item">
                        <div class="left">
                            Items: {{ collection['item_count'] or 0 }}
                        </div>
                        <div class="right">
                            Votes: {{ collection['vote_count'] or 0 }}
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="row center">
            <div class="col-sm-8 col-sm-offset-2">
                <a class="btn btn-primary" href="/{{ collection['code'] }}/vote" role="button">
                    Vote on Items
                </a>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <hr>
    </div>

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="row">
                <div class="list-group">
                    {% set scale = (collection['scores']|length - 1) / 95 %}
                    {% for item in collection['scores'] %}
                    <div class="list-group-item">
                        <div class="left">
                            {{ item['name'] }}
                        </div>
                        <div class="right">
                            {% if scale %}
                            {% if item['points'] > 0 %}
                            <div class="bar-pos" style="
                                    width: {{ item['points'] / +scale }}%;
                                    opacity: {{ item['confidence'] }};">
                                &nbsp;&nbsp;+ {{ item['points']|round(1) }}
                            </div>
                            {% else %}
                            <div class="bar-neg" style="
                                    width: {{ item['points'] / -scale }}%;
                                    opacity: {{ item['confidence'] }};">
                                &nbsp;&nbsp;- {{ item['points']|abs|round(1) }}
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if not collection['locked'] %}
            <div class="row">
                <form method="post" class="input-group input-group-lg">
                    <input type="text" class="form-control input-lg" name="name" placeholder="New Item Name">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" title="Add an item">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                    </span>
                </form>
            </div>
            {% endif %}

        </div>
    </div>

    {% if not collection['private'] %}
    <div class="container-fluid">
        <hr>
    </div>

    <div class="container">
        <div class="row center">
            <div class="col-sm-8 col-sm-offset-2">
                <a class="btn btn-default" href="https://www.facebook.com/sharer/sharer.php?u={{ url_for('collections.detail', code=collection['code'], _external=True) }}" target="_blank">
                    <img src="{{ url_for('static', filename='images/facebook.png') }}" height=30></img>
                    &nbsp;
                    Share on Facebook
                </a>
                <a class="btn btn-default" href="https://twitter.com/home?status={{ url_for('collections.detail', code=collection['code'], _external=True) }}" target="_blank">
                    <img src="{{ url_for('static', filename='images/twitter.png') }}" height=30></img>
                    &nbsp;
                    Share on Twitter
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    {% include "footer.html" %}
{% endblock %}
