{% extends "layout.html" %}

{% block title %}{{ super() }} | {{ item['name'] }} {% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h2 class="title">{{ item['name'] }}</h2>
    </div>

    {% include "flashes.html" %}

    <div class="container">
        <div class="row">

            <h3 class="section center">Item Properties</h3>

            <div class="col-sm-12 col-md-offset-2 col-md-8 col-xl-offset-3 col-xl-6">
                <form method="post">
                    <div class="form-group">
                        <label for="item-name">Name</label>
                        <input type="text" class="form-control" id="item-name" name="name" value="{{ item['name'] }}">
                    </div>
                    <div class="form-group">
                        <label for="item-image-url">Image URL</label>
                        <input type="text" class="form-control" id="item-image-url" name="image_url" value="{{ item['image_url'] }}" placeholder="Optional image to display when viewing the item.">
                    </div>
                    <div class="form-group">
                        <label for="item-description">Description</label>
                        <textarea type="text" class="form-control" id="item-description" name="description" value="{{ item['description'] }}" placeholder="Optional text to display when viewing the item." rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="item-ref-url">Reference URL</label>
                        <input type="text" class="form-control" id="item-ref-url" name="ref_url" value="{{ item['ref_url'] }}" placeholder="Optional URL to link the item to an external source.">
                    </div>
                    <div class="row center top-buffer">
                        <button type="submit" class="btn btn-primary" name="save" value="true">
                            <span class="glyphicon glyphicon-check"></span>
                            &nbsp;
                            Save Changes
                        </button>
                        <button class="btn btn-default" onClick="window.close();">
                            <span class="glyphicon glyphicon-remove"></span>
                            &nbsp;
                            Close Window
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <hr>
    </div>

    <div class="container">
        <div class="row">

            <h3 class="section center">Item Preview</h3>

            <div class="col-sm-12 col-md-offset-2 col-md-8 col-xl-offset-3 col-xl-6">
                <button class="btn btn-default btn-block btn-vote">
                    <p><b>{{ item['name'] }}</b></p>
                    {% if item['image_url'] %}
                    <p><img src="{{ item['image_url'] }}" alt="{{ item['name'] }}" height="200"></p>
                    {% endif %}
                    {% if item['description'] %}
                    <p>{{ item['description'] }}</p>
                    {% endif %}
                </button>
                {% if item['ref_url'] %}
                <br>
                <p class="text-center"><a href="{{ item['ref_url'] }}" target="_blank">{{ item['ref_url'] }}</a></p>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <hr>
    </div>

    <div class="container">
        <div class="col-sm-12 col-md-offset-2 col-md-8 col-xl-offset-3 col-xl-6">

            <h3 class="section center">Danger Zone</h3>

            <div class="row center">
                <form method="post">
                    <button type="submit" class="btn btn-danger" name="delete" value="true">
                        <span class="glyphicon glyphicon-trash"></span>
                        &nbsp;
                        Delete Item
                    </button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
