{% extends "layout.html" %}

{% block title %}{{ super() }} | {{ collection['name'] }} | Vote{% endblock %}

{% block metas %}

    <!-- Metadata -->
    <meta name="description" content="Cast your votes in the {{ collection['name'] }} collection on Crowd Sorter.">
    <meta name="twitter:title" content="{{ collection['name'] }}">
    <meta name="twitter:description" content="Cast your votes in the {{ collection['name'] }} collection on Crowd Sorter.">
    <meta property="og:title" content="{{ collection['name'] }}">
    <meta property="og:url" content="{{ url_for('collections.detail', code=collection['code'], _external=True) }}">
    <meta property="og:description" content="Cast your votes in the {{ collection['name'] }} collection on Crowd Sorter.">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h2 class="title">{{ collection['name'] }}</h2>
    </div>

    <div class="container-fluid">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}"
          aria-valuemin="0" aria-valuemax="100" style="width:{{ percent if percent > 9 else 9 }}%">
            {{ percent|round|int }}% Ranked
          </div>
        </div>

        <div class="row">
            {% set first = collection['item_data'][0] %}
            {% set second = collection['item_data'][1] %}

            <div class="col-xs-12 col-sm-6">
                <form method="post" action="{{ request.path }}?winner={{ first['name']|urlencode }}&loser={{ second['name']|urlencode }}">
                    <div class="form-group">
                        <button id="vote-first" type="submit" class="btn btn-default btn-block btn-vote">
                            <p><b>{{ first['name'] }}</b></p>
                            {% if first['image_url'] %}
                            <p><img class="img-vote" src="{{ first['image_url'] }}" alt="{{ first['name'] }}"></p>
                            {% endif %}
                            {% if first['description'] %}
                            <p>{{ first['description'] }}</p>
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <form method="post" action="{{ request.path }}?winner={{ second['name']|urlencode }}&loser={{ first['name']|urlencode }}">
                    <div class="form-group">
                        <button id="vote-second" type="submit" class="btn btn-default btn-block btn-vote">
                            <p><b>{{ second['name'] }}</b></p>
                            {% if second['image_url'] %}
                            <img class="img-vote" src="{{ second['image_url'] }}" alt="{{ second['name'] }}">
                            {% endif %}
                            {% if second['description'] %}
                            <p>{{ second['description'] }}</p>
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <div class="row">

            <div class="col-xs-12">
                <form method="post" action="{{ request.path }}">
                    <div class="form-group">
                        <button id="reload" type="submit" class="btn btn-primary btn-block btn-reload">
                            <span class="glyphicon glyphicon-refresh"></span>
                            &nbsp;
                            New Comparison Pair
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
{{- super() }}
    <!-- Custom -->
    <script type="text/javascript">
        $('form').submit( function(){
            $('#vote-first').prop('disabled', true);
            $('#vote-second').prop('disabled', true);
            $('#reload').prop('disabled', true);
            $('#reload').html("Loading next pair...");
        });
    </script>
{% endblock %}
