{% extends "layout.html" %}

{% block title %}{{ super() }} | {{ collection['name'] }} | Vote{% endblock %}

{% block metas %}

    <!-- Metadata -->
    <meta name="description" content="Cast your votes on the {{ collection['name'] }} collection.">
    <meta name="twitter:description" content="Cast your votes on the {{ collection['name'] }} collection.">
    <meta property="og:url" content="{{ url_for('collections.detail', code=collection['code'], _external=True) }}">
    <meta property="og:description" content="Cast your votes on the {{ collection['name'] }} collection.">
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h2 class="title">{{ collection['name'] }}</h2>
    </div>

    <div class="container">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}"
          aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">
            {% if percent > 9 %}
            {{ percent|round|int }}%
            {% endif %}
          </div>
        </div>

        <div class="row">

            <div class="col-xs-6">
                <form method="post" action="{{ request.path }}?winner={{ collection['items'][0]|urlencode }}&loser={{ collection['items'][1]|urlencode }}">
                    <div class="form-group">
                        <button id="vote-a" type="submit" class="btn btn-default btn-block btn-vote">
                            {{ collection['items'][0] }}
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-xs-6">
                <form method="post" action="{{ request.path }}?winner={{ collection['items'][1]|urlencode }}&loser={{ collection['items'][0]|urlencode }}">
                    <div class="form-group">
                        <button id="vote-b" type="submit" class="btn btn-default btn-block btn-vote">
                            {{ collection['items'][1] }}
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <div class="row">

            <div class="col-xs-12">
                <form method="post" action="{{ request.path }}">
                    <div class="form-group">
                        <button id="reload" type="submit" class="btn btn-primary btn-block btn-reload">
                            <span class="glyphicon glyphicon-refresh"></span>
                            &nbsp;
                            New Comparison Pair
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
{{- super() }}
    <!-- Custom -->
    <script type="text/javascript">
        $(document).ready( function () {
           $('html,body').css('cursor','pointer');
        });

        $('form').submit( function() {
            $('#vote-a').prop('disabled', true);
            $('#vote-b').prop('disabled', true);
            $('#reload').prop('disabled', true);
            $('#reload').html("Loading next pair...");
        });
    </script>
{% endblock %}
