{% extends "layout.html" %}

{% block title %}{{ super() }} | Vote{% endblock %}

{% block content %}
{{ super() }}
    <div class="jumbotron text-center">
        <h1>{{ content['name'] }}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <form method="post" action="{{ request.path }}?winner={{ content['items'][0]|urlencode }}&loser={{ content['items'][1]|urlencode }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-block vote">
                            {{ content['items'][0] }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-6">
                <form method="post" action="{{ request.path }}?winner={{ content['items'][1]|urlencode }}&loser={{ content['items'][0]|urlencode }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-block vote">
                            {{ content['items'][1] }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" action="{{ request.path }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block reload">
                            Get New Comparison Pair
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
