/* Bootstrap */

p {
    font-size: 18px;
}

label {
    font-size: 18px;
}

.alert {
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav {
    margin:0;
}
.navbar-nav > li {
    float:none;
    display:inline-block;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav > li.open > ul.dropdown-menu {
    position: absolute;
    border: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.container {
    margin-bottom: 15px;
}

.btn {
    font-size: 20px;
    min-width: 100px;
}

.list-group-item {
    font-size: 20px;
}

/* Custom */

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

ul.item-score-list {
    padding: 0px;
}
ul.item-score-list > li {
    display: flex;
}
ul.item-score-list > li > div.item {
    width: 50%;
}
ul.item-score-list > li > div.score {
    width: 50%;
    text-align: right;
}

.vote {
    padding: 4em 0;
    white-space: normal;
}

.reload {
    padding: 1em 0;
    white-space: normal;
}

.top-buffer {
    margin-top: 1em;
}

.bottom-buffer {
    margin-bottom: 1em;
}
